.main{
    background-color:rgb(88, 105, 101);
}
.Titel{
font-family: 'Times New Roman', Times, serif;
margin: 0px;
padding: 0px;
text-align:center;
width: auto;
height: 70px;
}
.img-fluid {    
    height:300px;
    width: 1300px;
}      